key/studentdata-37c33-firebase-adminsdk-fbsvc-aa56be95e5.json
key/gemini_api_key.txt
system_log/log.txt
DB_Cache/users_cache.json
DB_Cache/logs_cache.json
DB_Cache/members_cache.json
dashboard/dashboard_data.js
dashboard/dashboard.html
